model:
  class_name: model.efficient_lvsm.Images2LatentScene
  repa_encoder_type: PE-Core-L14 # dinov2-vit-b
  projector_dim: 2048
  freeze_repa_encoder: true
  align_resolution: false
  repa_config: 1

  image_tokenizer:
    type: none
    image_size: 256
    patch_size: 8
    in_channels: 9  # 3 RGB + 3 direction + 3 Reference
    source: local
    model_path: pretrained/dinov3_vitb16_pretrain_lvd1689m-73cec8be.pth
    model_source_dir: dinov3

  target_pose_tokenizer:
    image_size: 256
    patch_size: 8
    in_channels: 6  # 3 direction + 3 Reference
  transformer:
    d: 768
    d_head: 64
    n_layer: 12
    special_init: true
    depth_init: true
    use_qk_norm: true
    attention_arch: flash

training:
  amp_dtype: bf16
  api_key_path: ./configs/api_keys.yaml
  batch_size_per_gpu: 2
  beta1: 0.9
  beta2: 0.95
  allowed_gradnorm_factor: 10
  center_crop: true
  scene_scale_factor: 1.35
  checkpoint_dir: ./experiments/checkpoints
  checkpoint_every: 2000
  checkpoint_every_epoch: 1
  checkpoint_every_time: 1
  dataset_name: data.dataset_scene.Dataset
  dataset_path: data/train/full_list.txt
  train_epochs: 20
  dataset_len: 66033
  grad_accum_steps: 1
  grad_checkpoint_every: 1
  gradient_checkpoint: false
  grad_clip_norm: 5

  enable_repa: false
  l2_loss_weight: 1.0
  lpips_loss_weight: 0.0
  perceptual_loss_weight: 0.5
  proj_loss_weight: 0.5
  proj_loss_type: sl1

  lr: 0.0004
  train_steps: 20000
  train_time: 24
  use_compile: true

  use_view_masking: false
  view_mask_strategy: unified
  view_min: 2
  view_max: 2
  num_input_views: 2
  num_target_views: 6
  num_threads: 32
  num_views: 8
  num_workers: 16
  prefetch_factor: 32
  print_every: 20


  square_crop: true
  target_has_input: true
  use_amp: true
  use_rel_pose: false
  use_tf32: true
  view_selector:
    max_frame_dist: 192
    min_frame_dist: 25
  vis_every: 1000
  wandb_exp_name: LVSM_scene_decoder_only
  wandb_log_every: 50
  
  wandb_project: LVSM
  warmup: 3000
  scheduler_type: constant
  weight_decay: 0.05
  backup_code: true


# inference / evaluation
inference:
  if_inference: False
  compute_metrics: False
  view_idx_file_path: ./data/evaluation_index_re10k.json
  resize: false
  render_video: False
  render_video_config:
    traj_type: interpolate
    num_frames: 120
    loop_video: True 
    order_poses: False

demo:
  rotate_x: 0
  rotate_y: 0
  rotate_z: 0
  translate_x: 0
  translate_y: 0
  translate_z: 0